html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $backgroundColor !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  color: whitesmoke;
  background: $highlight;
}

::-moz-selection {
color: whitesmoke;
background: $highlight;
}
