
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$backgroundColor: #f9f7f3;
$blueBackground: #dcefed;
$highlight: #ad662b;
$greenLink: #26a69a;
$greenLinkHovered: #3ec1b6;
$greenButton: #0d7067;
$greenButtonHovered: #558782;
$greenButtonBorderHovered: #7eaaa6;
$greyText: #505050;
$lightGrayBorder: #7b8484;
$red: #e00f0f;
$lightGreenishGray: #bac6c6;
