.footer-box {
  height: 150px;
  padding-bottom: 30px;
  display: flex;
  align-items: flex-end;
}

.footer-logo {
  height: 20px;
}

.footer-box a {
  margin-top: 5px;
  color: $greyText !important;
  text-decoration: none !important;
}

.footer-box a:hover {
  color: $lightGrayBorder !important;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
}
