.header-box {
  position: fixed;
  z-index: 90;
  height: 70px;
  background-color: rgba(249, 247, 243, 0.92);
  width: 100%;
}

.header__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__left {
  padding-top: 28px;
  font-family: $titleFont;
  font-size: 20px;
}

.header__left a {
  color: black !important;
  text-decoration: none !important;
}

.header__right {
  padding-top: 33px;
  display: flex;
  font-family: $textFont;
}

.header__right a {
  margin-left: 20px;
  color: $greyText !important;
  text-decoration: none !important;
  font-size: 14px;
}

.header__right a:hover {
  color: 	$lightGrayBorder !important;
}

.header__left a:hover {
  color: 	black !important;
}

.mobile-menu {
  position: fixed;
  top: 16px;
  right: 30px;
  font-size: 30px;
  z-index: 1000 !important;
}

.mobile-menu a {
  color: $greyText !important;
}

.mobile-menu a:hover {
  color: $lightGrayBorder !important;
}

.dropdown-menu {
  background: none !important;
  border: none !important;
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__right {
    display: none;
  }
  .header__left {
    width: 100%;
    padding-left: 30px;
    font-size: 18px;
  }
}
