.my-table th {
  padding: 0px 0px 20px 0px;
  font-family: Playfair Display;
  font-weight: 400;
  color: #ad662b;
}

.my-table td {
  padding: 18px 10px;
  min-width: 130px;
}

.my-table tr {
  border-bottom: 1px solid $lightGreenishGray;
}

.my-table {
  font-size: 18px;
  color: $greyText;
}

.school-name {
  color: $greenButton;
}

.school-name:hover {
  cursor: pointer;
  color: $greenButtonHovered;
}
