html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f7f3 !important;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  color: whitesmoke;
  background: #ad662b;
}

::selection {
  color: whitesmoke;
  background: #ad662b;
}

::-moz-selection {
  color: whitesmoke;
  background: #ad662b;
}

.header-box {
  position: fixed;
  z-index: 90;
  height: 70px;
  background-color: rgba(249, 247, 243, 0.92);
  width: 100%;
}

.header__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  padding-top: 28px;
  font-family: Playfair Display;
  font-size: 20px;
}

.header__left a {
  color: black !important;
  text-decoration: none !important;
}

.header__right {
  padding-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Open Sans;
}

.header__right a {
  margin-left: 20px;
  color: #505050 !important;
  text-decoration: none !important;
  font-size: 14px;
}

.header__right a:hover {
  color: #7b8484 !important;
}

.header__left a:hover {
  color: black !important;
}

.mobile-menu {
  position: fixed;
  top: 16px;
  right: 30px;
  font-size: 30px;
  z-index: 1000 !important;
}

.mobile-menu a {
  color: #505050 !important;
}

.mobile-menu a:hover {
  color: #7b8484 !important;
}

.dropdown-menu {
  background: none !important;
  border: none !important;
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__right {
    display: none;
  }

  .header__left {
    width: 100%;
    padding-left: 30px;
    font-size: 18px;
  }
}

.footer-box {
  height: 150px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-logo {
  height: 20px;
}

.footer-box a {
  margin-top: 5px;
  color: #505050 !important;
  text-decoration: none !important;
}

.footer-box a:hover {
  color: #7b8484 !important;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-section-box {
  height: 370px;
  padding-top: 180px;
}

.top-section-title {
  margin-left: 80px;
  font-size: 24px;
  font-family: Playfair Display;
}

.top-section-text-box {
  margin-top: 30px;
  margin-left: 80px;
  height: 80px;
  border-left: 1px solid #7b8484;
  -webkit-transition: 1s;
  transition: 1s;
}

.top-section-text {
  padding-left: 15px;
  font-size: 20px;
  font-family: Open Sans;
  color: #505050;
}

.top-section-text_small {
  font-size: 16px;
  line-height: 25px;
}

.top-section-button-box-lower {
  margin-top: 50px;
}

/*
Responsive
*/

@media (max-width: 1024px) {
  .top-section-box {
    height: auto;
  }

  .top-section-button-box {
    margin: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .top-section-title {
    margin: 0px 30px;
  }

  .top-section-text-box {
    margin: 30px 10px 0px 10px;
    border-left: none;
  }

  .top-section-text {
    padding-left: 0px;
  }
}

@media (max-width: 320px) {
  .top-section-text-box {
    height: 140px;
  }
}

.form-section-box {
  background-color: #dcefed;
  padding: 70px 0px;
  font-size: 20px;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.required-fields {
  position: absolute;
  bottom: -30px;
  right: 0px;
  font-size: 16px;
  color: #505050;
}

.validation-message {
  position: relative;
  margin-bottom: 30px;
  font-family: Open Sans;
  color: #e00f0f;
}

.results-section-box {
  background-color: #dcefed;
  padding: 90px 0px 100px 0px;
  font-size: 20px;
}

.results-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.my-table {
  width: 100vw;
  overflow: scroll;
}

.my-table th {
  padding: 0px 0px 20px 8px;
  font-family: Playfair Display;
  font-weight: 400;
  color: #ad662b;
}

.my-table td {
  padding: 18px 10px;
  min-width: 130px;
}

.my-table tr:nth-child(even) {
  background-color: #d3e8e6;
}

.my-table {
  font-size: 18px;
  color: #505050;
}

.school-name {
  color: #0d7067;
}

.school-name:hover {
  cursor: pointer;
  color: #558782;
}

.my-table .agency {
  color: #ad662b;
}

@media (min-width: 769px) {
  .my-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .my-table {
    margin-left: 30px;
  }
}

.school-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(75, 81, 80, 0.4);
  z-index: 95;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.school-modal-content {
  position: fixed;
  top: 400px !important;
  width: 550px;
  height: 600px;
  background: #f9f7f3;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 2px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 17px;
  font-family: Open Sans;
  color: #505050;
}

.school-modal-top {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.school-modal-header {
  margin-top: 15px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 19px;
  font-weight: bold;
  font-family: Playfair Display;
}

.school-modal-close {
  margin-right: 20px;
  color: #e00f0f;
  font-family: Open Sans;
  font-weight: bold;
  position: relative;
  bottom: 8px;
}

.school-modal-close:hover {
  cursor: pointer;
  color: #e55e5e;
}

.school-modal-top-content {
  margin-left: 20px;
  margin-top: 25px;
  padding-left: 20px;
  border-left: 1px solid #7b8484;
  height: 80px;
}

.udpate-section {
  color: #0d7067;
}

.udpate-section:hover {
  cursor: pointer;
  color: #558782;
}

.update-date-grey {
  color: #bac6c6;
}

.update-icon {
  margin-right: 15px;
  font-size: 22px;
}

.school-modal-bottom {
  width: 100%;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  background: #dcefed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.school-modal-info {
  width: 40%;
  margin-top: 25px;
}

.school-modal-info > p {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: -5px;
  line-height: 22px;
  font-weight: 600;
}

.school-modal-button {
  width: 120px;
}

.stats-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(75, 81, 80, 0.4);
  z-index: 95;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.stats-modal-content {
  position: fixed;
  top: 400px !important;
  width: 750px;
  height: 750px;
  background: #f9f7f3;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 2px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: Open Sans;
  color: #505050;
}

.stats-modal-content tr:nth-child(even) {
  background-color: #efeeea;
}

.stats-modal-content th {
  padding-bottom: 5px;
  font-family: Playfair Display;
}

.stats-modal-content .average {
  text-align: center;
}

.stats-modal-close-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.stats-modal-close {
  color: #e00f0f;
  font-weight: bold;
  margin-right: 15px;
  position: relative;
}

.stats-modal-close:hover {
  cursor: pointer;
  color: #e55e5e;
}

@media (max-width: 768px) {
  .stats-modal-content {
    width: 100vw;
    padding: 20px 20px;
    font-size: 15px;
  }
}

h3,
h5,
h6 {
  font-family: Playfair Display !important;
}

h4 {
  font-size: 17px !important;
}

.highlight {
  color: #ad662b;
  font-weight: 600;
}

p {
  line-height: 30px;
}

a {
  color: #26a69a !important;
  text-decoration: none;
}

a:hover {
  color: #3ec1b6 !important;
  text-decoration: none !important;
  cursor: pointer;
}

/*
borders
*/

.border {
  position: fixed;
  z-index: 100;
  background: #fff;
  -webkit-transition: 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.borders div {
  border: none !important;
}

.border.top {
  top: 0;
  -webkit-transform: translate3d(0, -40px, 0);
          transform: translate3d(0, -40px, 0);
}

.border.hor {
  left: 0;
  width: 100%;
  height: 55px;
}

.border.bot {
  bottom: 0;
  -webkit-transform: translate3d(0, 40px, 0);
          transform: translate3d(0, 40px, 0);
}

.border.left {
  left: 0;
  -webkit-transform: translate3d(-40px, 0, 0);
          transform: translate3d(-40px, 0, 0);
}

.border.vert {
  top: 0;
  width: 55px;
  height: 100%;
}

.border.right {
  right: 0;
  -webkit-transform: translate3d(40px, 0, 0);
          transform: translate3d(40px, 0, 0);
}

/*
smooth page appearing
*/

.page-component {
  background-color: #f9f7f3;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 89;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 1;
  visibility: visible;
}

.page-component-show {
  opacity: 0;
  visibility: hidden;
}

/*
buttons
*/

button {
  outline: none;
}

.my-button {
  width: 150px !important;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0d7067 !important;
  font-size: 20px;
  border: 1px solid #0d7067 !important;
  border-radius: 2px;
}

.my-small-button {
  font-size: 16px;
  height: 30px;
  width: auto !important;
  padding: 0px 8px;
}

.my-button:hover {
  cursor: pointer;
  color: #558782 !important;
  border: 1px solid #7eaaa6 !important;
}

/*
forms
*/

input,
select {
  margin-bottom: 30px !important;
  width: 230px;
  height: 30px;
  background-color: #f9f7f3;
  color: #0d7067;
  border: none;
  outline: none;
  padding-left: 10px;
  border-radius: 2px;
  display: block;
}

textarea {
  margin-bottom: 30px !important;
  width: 230px;
  height: 100px;
  background-color: #f9f7f3;
  color: #0d7067;
  border: none;
  outline: none;
  padding-left: 10px;
  border-radius: 2px;
}

/*
TopContent
*/

.top-content-box {
  position: relative;
  height: 650px;
}

.top-content-title {
  margin-top: 250px;
  font-size: 35px;
  font-family: Playfair Display;
}

.top-content-text-box {
  margin-top: 50px;
  height: 160px;
  border-right: 1px solid #7b8484;
  -webkit-transition: 1s;
  transition: 1s;
}

.top-content-text-box-expand {
  height: 240px;
}

.top-content-text {
  padding-left: 40px;
  font-size: 20px;
  font-family: Open Sans;
  color: #505050;
}

.top-content-img-section {
  width: 405px;
  background: red;
  position: absolute;
  right: 0px;
  bottom: 70px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.top-content-img-section img {
  width: 100%;
}

.sextant-box {
  width: 390px;
  position: fixed;
  top: 275px;
  right: 150px;
  z-index: -1;
}

.sextant {
  width: 100%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

/*
SearchFormSection
*/

.search-form-box {
  height: 350px;
  background-color: #dcefed;
  z-index: 300;
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s;
}

.search-form-box-expand {
  height: 880px;
}

.search-form-title {
  margin: 70px 0px;
  font-size: 26px;
  font-family: Playfair Display;
  text-align: center;
  width: 100%;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  width: 100%;
}

.search-form-small-device {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form-agencies {
  font-size: 20px;
  font-family: Open Sans;
  width: 50%;
  height: 50px;
  -webkit-transition: 2s;
  /* Safari */
  transition: 2s;
  border-right: 1px solid #7b8484;
}

.search-form-agencies-expand {
  width: 1200px;
  height: 620px;
}

.search-form-agencies-expanded {
  height: 620px;
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s;
}

.search-form-agencies-reduced {
  width: 400px;
}

.search-form-schools {
  font-size: 20px;
  font-family: Open Sans;
  width: 50%;
  height: 50px;
  -webkit-transition: 2s;
  /* Safari */
  transition: 2s;
}

.search-form-schools-expand {
  width: 1000px;
  height: 620px;
}

.search-form-agencies-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form-schools-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form-content {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
  visibility: hidden;
  height: 100px;
  overflow: hidden;
}

.search-form-content-show {
  opacity: 1;
  visibility: visible;
  height: 600px;
}

.search-form-content-title {
  font-size: 17px;
  margin-top: 30px;
  color: #505050;
}

.search-form-content-title-left {
  margin-left: 210px;
}

.search-form-content-title-right {
  margin-left: 90px;
}

.search-form-content-inputs-left {
  margin-top: 30px;
  margin-left: 260px;
}

.search-form-content-inputs-right {
  margin-top: 30px;
  margin-left: 170px;
}

/*
About
*/

.about-box {
  height: 1650px;
  background-color: #f9f7f3;
  z-index: 10;
  position: relative;
}

.about-container {
  padding-top: 150px;
}

.about-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1400px;
}

.about-left-column {
  border-right: 1px solid #7b8484;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.about-right-column {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-paragraph {
  width: 480px;
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 0;
  visibility: hidden;
}

.about-paragraph-show {
  opacity: 1;
  visibility: visible;
}

.about-paragraph-title {
  margin: 0px 0px 50px 0px;
}

.about-paragraph-text {
  margin-left: 30px;
  font-size: 20px;
  font-family: Open Sans;
  color: #505050;
}

.first-paragraph {
  margin-left: 30px;
}

.second-paragraph {
  margin-top: 40px;
}

.img1 {
  position: absolute;
  top: 0px;
  right: 140px;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.img2 {
  position: absolute;
  top: 390px;
  left: 120px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.img3 {
  position: absolute;
  top: 750px;
  right: 140px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#img1 {
  height: 260px;
  border-radius: 2px;
}

#img2 {
  height: 200px;
  border-radius: 2px;
}

#img3 {
  height: 240px;
  border-radius: 2px;
}

/*
Responsiveness
*/

@media (min-width: 769px) {
  /*
  SearchFormSection
  */

  .search-form-small-device {
    display: none;
  }
}

@media (max-width: 768px) {
  /*
  TopContent
  */

  .top-content-box {
    height: 90vh;
  }

  .top-content-title {
    margin-top: 200px;
    margin-left: 50px;
    font-size: 30px;
    width: 60vw;
  }

  .top-content-text {
    padding-left: 50px;
  }

  .sextant-box {
    width: 160px;
    top: 100px;
    right: 0px;
  }

  /*
  SearchFormSection
  */

  .search-form-box {
    height: 900px;
  }

  .search-form-title {
    padding: 0px 30px;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .search-form-content-title {
    margin: 50px 0px 30px 0px;
  }

  .search-form-agencies {
    display: none;
  }

  .search-form-schools {
    display: none;
  }

  /*
  About
  */

  .about-box {
    height: auto;
  }

  #img2 {
    display: none;
  }

  #img1 {
    display: none;
  }

  .about-container {
    padding-top: 100px;
  }

  .about-column {
    height: auto;
  }

  .about-left-column {
    padding-bottom: 0px;
  }

  .about-left-column {
    border-right: none;
  }

  .about-paragraph {
    margin: 0px 20px 100px 20px;
    width: auto;
  }

  .about-paragraph-text {
    margin-left: 0px;
  }

  .first-paragraph {
    margin-left: 0px;
  }
}

.stats-toggle {
  position: fixed;
  top: 150px;
  left: 50px;
  z-index: 50;
}

.map-container {
  padding-top: 70px;
  position: relative;
}

.map {
  height: 90vh;
}

.map-legend {
  position: fixed;
  top: 150px;
  left: 0px;
  height: 300px;
  width: 250px;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 20px;
  background: #f9f7f3;
  -webkit-box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #505050;
  font-family: Open Sans;
  border-radius: 2px;
}

.map-legend-icons-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: #e00f0f;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.map-legend-icons-text {
  width: 85%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: justify;
}

.map-legend-show-ranking {
  width: 80%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #7b8484;
}

/**/

.map-legend-up-to-date-rate {
  width: 85%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: justify;
}

.map-legend-show-details {
  width: 80%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #7b8484;
}

.up-to-date-content-provisoire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-legend-hover-academies {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-section-box_add-school {
  -webkit-transition: 1s;
  transition: 1s;
  height: 1030px;
}

.form-section-box_add-school_reduced {
  height: 300px;
}

.add-school-form {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

.add-school-form-hide {
  height: 0px;
  opacity: 0;
  visibility: hidden;
}

.add-school-form-sent {
  position: absolute;
  top: 60px;
  font-size: 20px;
  font-family: Playfair Display;
  color: #505050;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.add-school-form-sent-show {
  opacity: 1;
  visibility: visible;
}

.form-section-box_change-agency {
  -webkit-transition: 1s;
  transition: 1s;
  height: 280px;
}

.form-section-box_change-agency_reduced {
  height: 280px;
}

.change-agency-form {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

.change-agency-form-hide {
  height: 0px;
  opacity: 0;
  visibility: hidden;
}

.change-agency-form-sent {
  position: absolute;
  top: 60px;
  font-size: 20px;
  font-family: Playfair Display;
  color: #505050;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.change-agency-form-sent-show {
  opacity: 1;
  visibility: visible;
}

.unable-to-change-agency {
  font-size: 20px;
  font-family: Playfair Display;
  color: #505050;
}

.form-section-box_change-info {
  -webkit-transition: 1s;
  transition: 1s;
  height: 850px;
}

.form-section-box_change-info_reduced {
  height: 300px;
}

.change-info-form {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

.change-info-form-hide {
  height: 0px;
  opacity: 0;
  visibility: hidden;
}

.change-info-form-sent {
  position: absolute;
  top: 60px;
  font-size: 20px;
  font-family: Playfair Display;
  color: #505050;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.change-info-form-sent-show {
  opacity: 1;
  visibility: visible;
}

.form-section-box_change-memo {
  -webkit-transition: 1s;
  transition: 1s;
  height: 300px;
}

.form-section-box_change-memo_reduced {
  height: 300px;
}

.change-memo-form {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

.change-memo-form-hide {
  height: 0px;
  opacity: 0;
  visibility: hidden;
}

.change-memo-form-sent {
  position: absolute;
  top: 60px;
  font-size: 20px;
  font-family: Playfair Display;
  color: #505050;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.change-memo-form-sent-show {
  opacity: 1;
  visibility: visible;
}

.admin-form input {
  display: block;
}

.admin-logout-btn {
  position: absolute;
  top: 0px;
  left: 0px;
}

.admin-actions {
  margin-top: 70px;
}

