
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "base/variables";
@import "base/mixins";
@import "base/reset";

// Components
@import "components/header";
@import "components/footer";
@import "components/topsection";
@import "components/formsection";
@import "components/resultssection";
@import "components/table";
@import "components/infomodal";


// containers
@import "containers/app";
@import "containers/home";
@import "containers/statistics";
@import "containers/addschool";
@import "containers/changeagency";
@import "containers/changeinfo";
@import "containers/changememo";
@import "containers/admin";
